footer{
  background: $blue;
  color: white;
  padding: 4em 1em 0;
  & .small-uppercase-text{
    color: $light-blue
  }
  & > .extra-large-inner-wrap{
    @include width-above($large-width){
      display: flex;
      justify-content: space-between;  
    }
  }
}

.contact-text-area{
  padding-right: 1em;
  @include width-below($large-width){
    margin-bottom: $longer; 
  }
}

.careers-text-area{
  @include width-above($large-width){
    max-width: $medium-large-width;
  }
}

.contact-link{
  color: white;
  display: block;
  text-decoration: none;
  @include karla-bold;
  margin-bottom: $short;
  &:hover{
    text-decoration: underline;
  }
}

#copyright-text{
  margin-top: $longer;
  display: block;
  font-size: .875em;
}

.footer-image{
  background-image: url('../images/ib-footer-banner.jpg');
  margin: 0 auto;
  height: 48em;
  position: relative;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  &:before{
    content: "";
    background: linear-gradient(to top, rgba(28,68,146,0) 0%, #1C4492 100%);
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
  }
  &.nedepco{
    background-image: url('../images/nedepco-footer-banner.jpg');
  }
}

