ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *:before, *:after{
  box-sizing: border-box;
}

button, a{
  &:focus{
    outline: none;
    }
}

body {
  margin: 0;
  font-size: 1em;
  color: $dark-gray;
  @include karla;
  @include width-below ($medium-width){
    font-size: .875em;
  }
}

.overflow-wrap {
  position: relative;
  overflow: hidden;
  background: $light-gray;
  margin: 0 auto;
}

.transform-wrap {
  position: relative;
  margin: 0 auto;
  background: white;
  max-width: $overflow-width;
  box-shadow: 0px 0px 15px 0px #898989;
}

section{
  margin: 0 auto;
  background: white;
  position: relative;
  z-index: 100;
  border-top: 3px solid $blue;
}

img{
  max-width: 100%;
}

@mixin large-center-margin-wrap{
  max-width: $large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}

@mixin medium-large-center-margin-wrap{
  max-width: $medium-large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}

@mixin medium-center-margin-wrap{
  max-width: $medium-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}

@mixin medium-small-center-margin-wrap{
  max-width: $medium-small-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}

@mixin extra-large-center-margin-wrap{
  max-width: $extra-large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}

@mixin section-segment{
  padding-top: 10em;
  padding-bottom: 8em;
  @include width-below ($medium-small-width){
    padding-top: 6em;
    padding-bottom: 4em;
  }
}

.large-inner-wrap{
  @include large-center-margin-wrap;
}

.medium-large-inner-wrap{
  @include medium-large-center-margin-wrap;
}

.medium-inner-wrap{
  @include medium-center-margin-wrap;
}

.medium-small-inner-wrap{
  @include medium-small-center-margin-wrap;
}

.extra-large-inner-wrap{
  @include extra-large-center-margin-wrap;
}

.mission-section{
  text-align: center;
  padding: 4em 1em;
}

.mission-inner-wrap{
  max-width: 51em;
  margin: 0 auto;
}

.values-section{
  
  @include width-above ($large-width){
    display: flex;
    margin-bottom: -5px;
  } 
}

.team-section{
  @include width-above ($large-width){
    display: flex;
  } 
}

.text-area{
  padding: 4em 2em;
}

.image-area{
  display: flex;
  align-items: center;
  background: $blue;
  position: relative;
  /*
&:before{
    content: "";
    background: linear-gradient(to bottom, rgba(28,68,146,0) 0%, rgba(28,68,146,.3) 100%);
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
  }
*/
}

.large-column{
  @include width-above ($large-width){
    width: 60%;
  }
  & img{
    width: 100%;
  }
}

.small-column{
  @include width-above ($large-width){
    width: 40%;
  }
  & img{
    width: 100%;
  }
}