header{
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 8em 1em;
  background-image: url('../images/ib-banner.jpg'), linear-gradient(-180deg, #FFFFFF 0%, #1C4492 100%) ;
  background-blend-mode: multiply;
  &.nedepco{
    background-image: url('../images/nedepco-banner.jpg'), linear-gradient(-180deg, #FFFFFF 0%, #1C4492 100%) ;  
  }
}

.intro-text{
  font-size: 1.56em;
  color: #FFFFFF;
  line-height: 1.6em;
  text-shadow: 0 2px 4px #222222;
  text-align: center;
  display: block;
}

.logo-image{
  max-width: 25em;
}