$length-scale-base: 1em;
$length-scale-ratio: 2;

$shortest: get-scaled-length-at( -2 );
$shorter: get-scaled-length-at( -1 );
$short: get-scaled-length-at( 0 );
$long: get-scaled-length-at( 1 );
$longer: get-scaled-length-at( 2 );
$longest: get-scaled-length-at( 3 );

.small-uppercase-text{
  font-size: .875em;
  color: $blue;
  @include karla-bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  margin-bottom: $long;
}

.large-paragraph-text{
  font-size: 1.125em;
  line-height: 1.7em;
}

.paragraph-text{
  line-height: 1.7em;
  display: block;
  & + .small-uppercase-text{
    margin-top: $longer;
  }
  & + .paragraph-text{
    margin-top: $short;
  }
}

.small-paragraph-text{
  line-height: 1.7em;
  font-size: .875em;
  display: block;
  & + .small-paragraph-text{
    margin-top: $short;
  }
}